header .superior p {
  font-size: 3rem;
  font-weight: bold;
  width: 50vw;
}
header .last-name {
  position: relative;
  top: -30px;
}
header .capital {
  font-size: 3.5rem;
  border: solid;
  position: relative;
  top: -4px;
  left: 1px;
  padding: 18px 3px 0px 3px;
  background-color: #fff;
  color: #000;
  text-align: right;
}

footer {
  color: white;
  font-size: 0.7rem;
  padding: 40px;
  background-color: black;
}
footer .redes {
  font-size: 30px;
}
footer .redes a {
  color: #fff;
}

header {
  /* configuracion inicial */
  /*.name-index{        
      background-color: blue;
      transform: rotateX(120deg) translate(-50%, -50%);
  }
  */
}
header .name-index:not(.animame) {
  left: 207px;
  top: 57px;
}
@keyframes animacion {
  to {
    /* probar propiedades */
    transform: skewY(25deg);
  }
}
header .animame {
  animation: animacion 1s linear 3s infinite alternate;
}

main #header-foto {
  position: relative;
  padding: 0;
}
main #header-foto img {
  width: 100%;
  max-height: 70vh;
  object-fit: cover;
}
main #header-foto .overlay {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
main #header-foto .overlay .container, main #header-foto .overlay .row {
  height: 100%;
}
main #productos .row {
  padding: 20px;
  background-color: gray;
}
main #productos .row .card {
  margin: 20px;
}
main #productos .row .card img {
  width: 100px;
  height: 100px;
  justify-content: center;
}
main #intereses-img .carousel-item img {
  max-height: 100vh;
  object-fit: fill;
}

aside {
  padding: 30px;
}
aside .btn a {
  color: #6c757d;
}
aside .btn a:hover {
  color: rgb(239, 239, 234);
}

#esta-soy .col {
  padding: 40px;
}

#frases-inspiran {
  padding-top: 30px;
  padding-bottom: 30px;
}
#frases-inspiran .card {
  margin: 5px;
}

#trabajos-de-grado .titulo-seccion {
  background-color: #6c757d;
  color: #fff;
  padding: 30px;
}
#trabajos-de-grado .container {
  margin: 20px;
}
#trabajos-de-grado .container a {
  color: rgb(80, 76, 76);
}

#trabajos-por-sustentar .titulo-seccion {
  background-color: #6c757d;
  color: #fff;
  padding: 30px;
}
#trabajos-por-sustentar .container {
  margin: 20px;
}
#trabajos-por-sustentar .container a {
  color: rgb(80, 76, 76);
}

#articulos-publicaciones .titulo-seccion {
  background-color: #6c757d;
  color: #fff;
  padding: 30px;
}
#articulos-publicaciones .container {
  margin: 20px;
}
#articulos-publicaciones .container a {
  color: rgb(80, 76, 76);
}

#coinvestigadores .container {
  margin-top: 20px;
}
#coinvestigadores .col-12 .card {
  background-color: #b7bec4;
  border-radius: 15px;
}
#coinvestigadores .col-12 .card .col-md-4 img {
  margin: 10px;
  border-radius: 180px;
}

#formulario {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #6c757d;
  color: #fff;
}
#formulario .form-floating {
  margin-top: 20px;
}
#formulario .input-group {
  margin-top: 20px;
}
#formulario .btn {
  margin-top: 10px;
  border: solid #fff;
}

/*# sourceMappingURL=style.css.map */
