@import './componentes/header';
@import './componentes/footer';
@import './componentes/compartido';
@import './base/colores';
@import './componentes/pag-acerca-de';
@import './componentes/pag-productos';
@import './componentes/pag-contacto';
@import './componentes/pag-equipo-trabajo';


main{
    #prologo{
        button{
            border: solid white;
            color: white;
        }
    }
    #header-foto{
        position: relative;
        padding: 0;    
        img{
            width: 100%;
            max-height: 70vh;
            object-fit:cover;
        }
        .overlay{
            overflow: hidden;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba($color: #000, $alpha: 0.5);        
            color: white;
            .container,.row{
                height: 100%;
            }
        }
    }
    #productos{
        .row{
            padding: 20px;
            background-color: $color-gris-fondo;
            .card{                
                background-color: $color-card-equipo;
                margin: 20px;
                .iconos-productos{  
                    margin-top: 30px;                  
                    font-size: 60px;
                    color: $color-iconos;                    
                }
                
            }
        }  
    } 
    #intereses-img{
        .carousel-item{
            img{                
                max-height: 100vh;
                object-fit:fill;
            }
        }
    }

}

aside{
    padding: 30px;
    .btn{
        a{        
            color: $color-gris-formularios;
            &:hover{
                color: $color-texto-botones;
            }   
        }        
    }        
}