footer{
    color: white;
    font-size: 0.7rem;
    padding: 40px; 
    background-color: black;  
    .redes{        
        font-size: 30px;
        a{            
            color: #fff;
        }
    } 
}