#formulario{    
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $color-gris-formularios;
    color: #fff;
    .form-floating{
        margin-top: 20px;
    }
    .input-group{
        margin-top: 20px;        
    }
    .btn{            
        margin-top: 10px;
        border: solid #fff;
    }
}