#esta-soy{
    .row{
        margin-top: 30px;
    }
    img{        
        margin: 30px;
        max-height: 30vh;
        border-radius: 300px;  
        box-shadow: -2px 5px 25px #888888;
    }
    
}

#frases-inspiran{
    padding-top: 30px;
    padding-bottom: 30px;
    .card{
        margin: 5px;    
    }
}
