#coinvestigadores{       
    .container{
        margin-top: 20px;               
    }
    .col-12{        
        .card{                        
            background-color: $color-card-equipo;            
            border-radius: 15px;
            .col-md-4{
                img{
                    margin: 10px;  
                    border-radius: 180px;                
                }
            }
            
        }
    }
}